<div class="login__background">
	<section class="login__section">
		<div class="container">
			<div class="login__row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="login__header">Ordering System</h2>
				</div>
			</div>
			<div class="login__row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login__wrap p-0">
                        <form (ngSubmit)="login()">
                            <div class="login__form-group form-group">
                                <input type="text" [(ngModel)]="username" name="username" class="form-control login__input" placeholder="Username" required>
                            </div>
                            <div class="login__form-group form-group">
                                <input type="password" [(ngModel)]="password" name="password" class="form-control login__input" placeholder="Password" required>
                            </div>
                            <div class="login__form-group form-group">
                                <button type="submit" class="form-control login__button btn btn-primary submit px-3">Sign In</button>
                            </div>
                        </form>
                    </div>
		        </div>
			</div>
		</div>
	</section>
</div>